<mat-card *ngIf="state == 'start'">
  <mat-card-title>Parisuhdepeli</mat-card-title>
  <mat-card>
    <app-results></app-results>
  </mat-card>
  <mat-card>
    <app-teams></app-teams>
  </mat-card>
  <mat-card>
    <app-questions></app-questions>
  </mat-card>

  <mat-card-actions>
    <mat-form-field>
      <input type="number" [(ngModel)]="questionCount" matInput placeholder="montako kierrosta?">
    </mat-form-field>
    <mat-form-field>
      <input type="number" [(ngModel)]="roundLength" matInput placeholder="kierroksen pituus?">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="startGame({number: 3, length: roundLength})">Aloita</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="state == 'game'">
  <mat-card>
      <mat-card-content>
      <!-- <app-results></app-results> -->
      <h2>Montako {{visibleQuestion.question}} puolisosi osaa luetella?</h2>
      <p>Kysymys nro:{{gamepos + 1}} / {{questionCount}}</p>
      <div style="display:flex; width: 100%;">
      <div style="flex: 1"></div>
        <app-timer
        (ready)="handleTimerReady()"
        ></app-timer>
      <div style="flex: 1"></div >
    </div>
    <app-results></app-results>
    </mat-card-content>
  </mat-card>

  <!-- <button mat-raised-button (click)="data.spawnWinnerDialog(data.teams)">DIALOG</button> -->
</mat-card>
